<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.dev.springbootmybatis.dao.PmodelDataXmlMapper" >
  <resultMap id="BaseResultMap" type="com.pan.dev.springbootmybatis.entity.PmodelDataXml" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pan.dev.springbootmybatis.entity.PmodelDataXml" extends="BaseResultMap" >
    <result column="raw_data" property="rawData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone_no, created_at, updated_at
  </sql>
  <sql id="Blob_Column_List" >
    raw_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from p_model_data_xml
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOne" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from p_model_data_xml order by id limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_model_data_xml
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pan.dev.springbootmybatis.entity.PmodelDataXml" >
    insert into p_model_data_xml (id, phone_no, created_at, 
      updated_at, raw_data)
    values (#{id,jdbcType=BIGINT}, #{phoneNo,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{rawData,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pan.dev.springbootmybatis.entity.PmodelDataXml" >
    insert into p_model_data_xml
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="rawData != null" >
        raw_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="rawData != null" >
        #{rawData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.dev.springbootmybatis.entity.PmodelDataXml" >
    update p_model_data_xml
    <set >
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="rawData != null" >
        raw_data = #{rawData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pan.dev.springbootmybatis.entity.PmodelDataXml" >
    update p_model_data_xml
    set phone_no = #{phoneNo,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      raw_data = #{rawData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pan.dev.springbootmybatis.entity.PmodelDataXml" >
    update p_model_data_xml
    set phone_no = #{phoneNo,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>