<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pan.dev.springbootmybatis.dao.PtasliInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pan.dev.springbootmybatis.entity.PtasliInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="passport_id" property="passportId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="BIT" />
    <result column="birth_date" property="birthDate" jdbcType="BIT" />
    <result column="birth_place" property="birthPlace" jdbcType="BIT" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="selfie_photo" property="selfiePhoto" jdbcType="DECIMAL" />
    <result column="product" property="product" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, passport_id, name, birth_date, birth_place, address, selfie_photo, product, version, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ptasli_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ptasli_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pan.dev.springbootmybatis.entity.PtasliInfo" >
    insert into ptasli_info (id, passport_id, name, 
      birth_date, birth_place, address, 
      selfie_photo, product, version, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{passportId,jdbcType=BIGINT}, #{name,jdbcType=BIT}, 
      #{birthDate,jdbcType=BIT}, #{birthPlace,jdbcType=BIT}, #{address,jdbcType=VARCHAR}, 
      #{selfiePhoto,jdbcType=DECIMAL}, #{product,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pan.dev.springbootmybatis.entity.PtasliInfo" >
    insert into ptasli_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="passportId != null" >
        passport_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birthDate != null" >
        birth_date,
      </if>
      <if test="birthPlace != null" >
        birth_place,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="selfiePhoto != null" >
        selfie_photo,
      </if>
      <if test="product != null" >
        product,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="passportId != null" >
        #{passportId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=BIT},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=BIT},
      </if>
      <if test="birthPlace != null" >
        #{birthPlace,jdbcType=BIT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="selfiePhoto != null" >
        #{selfiePhoto,jdbcType=DECIMAL},
      </if>
      <if test="product != null" >
        #{product,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pan.dev.springbootmybatis.entity.PtasliInfo" >
    update ptasli_info
    <set >
      <if test="passportId != null" >
        passport_id = #{passportId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=BIT},
      </if>
      <if test="birthDate != null" >
        birth_date = #{birthDate,jdbcType=BIT},
      </if>
      <if test="birthPlace != null" >
        birth_place = #{birthPlace,jdbcType=BIT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="selfiePhoto != null" >
        selfie_photo = #{selfiePhoto,jdbcType=DECIMAL},
      </if>
      <if test="product != null" >
        product = #{product,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pan.dev.springbootmybatis.entity.PtasliInfo" >
    update ptasli_info
    set passport_id = #{passportId,jdbcType=BIGINT},
      name = #{name,jdbcType=BIT},
      birth_date = #{birthDate,jdbcType=BIT},
      birth_place = #{birthPlace,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      selfie_photo = #{selfiePhoto,jdbcType=DECIMAL},
      product = #{product,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>